In [118]:

import numpy as np
import pandas as pd


url = pd.read_csv(r"C:\Users\TENECE\Downloads\food.csv", encoding='Latin')
print(url.head(20))

    Area Code     Area  Item Code                      Item  Element Code  \
0           4  Algeria       2501                Population           511
1           4  Algeria       2501                Population          5301
2           4  Algeria       2901               Grand Total           664
3           4  Algeria       2901               Grand Total           674
4           4  Algeria       2901               Grand Total           684
5           4  Algeria       2903          Vegetal Products           664
6           4  Algeria       2903          Vegetal Products           674
7           4  Algeria       2903          Vegetal Products           684
8           4  Algeria       2941           Animal Products           664
9           4  Algeria       2941           Animal Products           674
10          4  Algeria       2941           Animal Products           684
11          4  Algeria       2905  Cereals - Excluding Beer          5511
12          4  Algeria       2905  Cereals - Excluding Beer          5611
13          4  Algeria       2905  Cereals - Excluding Beer          5072
14          4  Algeria       2905  Cereals - Excluding Beer          5911
15          4  Algeria       2905  Cereals - Excluding Beer          5301
16          4  Algeria       2905  Cereals - Excluding Beer          5521
17          4  Algeria       2905  Cereals - Excluding Beer          5527
18          4  Algeria       2905  Cereals - Excluding Beer          5123
19          4  Algeria       2905  Cereals - Excluding Beer          5131

                                   Element             Unit     Y2014  \
0            Total Population - Both sexes     1000 persons  38924.00
1                 Domestic supply quantity      1000 tonnes      0.00
2            Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3   Protein supply quantity (g/capita/day)     g/capita/day     94.90
4       Fat supply quantity (g/capita/day)     g/capita/day     80.06
5            Food supply (kcal/capita/day)  kcal/capita/day   2932.00
6   Protein supply quantity (g/capita/day)     g/capita/day     67.14
7       Fat supply quantity (g/capita/day)     g/capita/day     53.84
8            Food supply (kcal/capita/day)  kcal/capita/day    444.00
9   Protein supply quantity (g/capita/day)     g/capita/day     27.76
10      Fat supply quantity (g/capita/day)     g/capita/day     26.22
11                              Production      1000 tonnes   3436.00
12                         Import Quantity      1000 tonnes  12604.00
13                         Stock Variation      1000 tonnes    684.00
14                         Export Quantity      1000 tonnes      3.00
15                Domestic supply quantity      1000 tonnes  15353.00
16                                    Feed      1000 tonnes   4725.00
17                                    Seed      1000 tonnes    177.00
18                                  Losses      1000 tonnes   1084.00
19                              Processing      1000 tonnes     35.00

       Y2015     Y2016     Y2017     Y2018
0   39728.00  40551.00  41389.00  42228.00
1       0.00      0.00      0.00      0.00
2    3379.00   3372.00   3341.00   3322.00
3      94.35     94.72     92.82     91.83
4      79.36     77.40     80.19     77.28
5    2958.00   2941.00   2921.00   2932.00
6      67.38     67.37     66.11     67.10
7      54.72     52.04     55.59     54.57
8     421.00    431.00    421.00    390.00
9      26.97     27.35     26.71     24.73
10     24.64     25.37     24.60     22.71
11   3761.00   3445.00   3478.00   6065.00
12  13983.00  13523.00  13039.00  13182.00
13   1663.00    905.00    705.00   2226.00
14      7.00      7.00     10.00     17.00
15  16075.00  16056.00  15803.00  17004.00
16   5070.00   4838.00   4667.00   5266.00
17    189.00    197.00    202.00    278.00
18   1203.00   1148.00   1121.00   1253.00
19     38.00     37.00     33.00     44.00

In [78]:
url.describe(include = 'all')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [61]:
#total null values
url.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [7]:
#checking duplicate values
url.duplicated().any()

False

In [67]:
#total null values of 2016
sum_null = url["Y2016"].isnull().sum()
print(sum_null)
#count_null = url["Y2016"].isnull()
count_null = url["Y2016"].isnull().count()
print(count_null)

1535
60943

In [70]:
#calculating percentage
percent_missing = url["Y2016"].isnull().sum() * 100 / len(url)
print(percent_missing)

2.518747025909456

In [47]:
#replacing null value with most occuring value
#for i in url.columns:
 #url[i].fillna(url[i].mode()[0], inplace=False)
#print(url)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [21]:
#aggregate sum of items in 2014 and 2017
url.groupby(['Item']).agg(
     sum_2014 = ('Y2014','sum'),
     sum_2017 = ('Y2017','sum'),
     ).reset_index()

                    Item   sum_2014   sum_2017
0      Alcohol, Non-Food    2403.00    2348.00
1    Alcoholic Beverages  102410.11   95581.06
2        Animal Products   11935.65   11547.65
3            Animal fats  209460.54  269617.53
4    Apples and products    9499.23   10198.90
..                   ...        ...        ...
114    Vegetables, Other  155038.96  157752.59
115     Vegetal Products  107145.19  107655.20
116   Wheat and products  232670.13  240047.62
117                 Wine    4497.36    4178.02
118                 Yams  200396.96  229174.59

[119 rows x 3 columns]

In [22]:

#mean of year 2015
df_mean = url["Y2015"].mean()
print(df_mean )
#standard deviation of 2015
df_std= url["Y2015"].std()
print(df_std)

135.23596649549236
1603.4039839423301

In [94]:
#third lowest sum in 2018
lowest_sum = url.groupby('Element')['Y2018'].sum()
sum_low = lowest_sum.sort_values()
print(sum_low[2])

11833.56

In [74]:
#unique countries
unique_countries = url.Area.nunique(dropna = True)
print(unique_countries)

49

In [18]:
#total sum of production in 2014
sum_prod = url.groupby('Element')['Y2014'].sum()
print(sum_prod[11])

1931287.75

In [19]:
#highest element in 2018
highest_element= url.groupby('Element')['Y2018'].max()
print(highest_element[-2])

195875.0

In [108]:
#calculate highest sum of import
highest_import= url.groupby(['Element'])['Y2014','Y2015'].sum().iloc[7]
print(highest_import)
highest_sum = url.groupby(['Element'])['Y2016','Y2017','Y2018'].sum().iloc[7]
print(highest_sum)
print(highest_sum[1])

Y2014    274144.48
Y2015    267018.46
Name: Import Quantity, dtype: float64
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64
294559.09

C:\Users\TENECE\AppData\Local\Temp/ipykernel_7740/2042191125.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  highest_import= url.groupby(['Element'])['Y2014','Y2015'].sum().iloc[7]
C:\Users\TENECE\AppData\Local\Temp/ipykernel_7740/2042191125.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  highest_sum = url.groupby(['Element'])['Y2016','Y2017','Y2018'].sum().iloc[7]

In [115]:
#calculating highest correlation
correlation = url.groupby('Element Code')[['Y2014','Y2015', 'Y2016', 'Y2017', "Y2018"]].corr().unstack().iloc[:,1]
print(correlation)

Element Code
511     0.999988
645     0.997805
664     0.999567
674     0.999296
684     0.997403
5072    0.244774
5123    0.996677
5131    0.986189
5142    0.998741
5154    0.595009
5170    0.998330
5171    0.996093
5301    0.995645
5511    0.988501
5521    0.997387
5527    0.967869
5611    0.987555
5911    0.976942
Name: (Y2014, Y2015), dtype: float64

In [114]:
#total import quantity in 2018
import_quantity = url.groupby('Area')[['Y2018']].sum().iloc
print(import_quantity)

Y2018    341729.98
Name: Algeria, dtype: float64